<style>
  .header12
	{
		/*width:100%;*/
		padding:10px;
		background-color:#0A1828;
		display:flex;
    flex-wrap:wrap;		
	}
    
      .header22
      {
        margin-left:30px;
        color:#BFA181;
        text-align:left;
      }
  h1{
      padding: 60px 0;
  }
  .header12 img{
    padding:20px;
    width:auto;
    height:170px;
    margin-left: 30px;	
  }
</style>
<div class=header12> 
      <div><a href="/home"><img src="/static/logo_dbms_transparent.png" ></a></div>
      <div class="header22"><h1><i>TREK CINEMAS</i></h1></div>
      <a href="/" class="btn btn-outline-warning" style="height:40px; margin-left:1300px; margin-top:60px" >Logout</a>
    </div>